.app__footer{
    background: #EDEEF1;
    text-align: center;
    padding: 40px 30px;
}

.footer__link a{
    color: #579EEE;
}

.footer__content{
    margin-top: 40px;
}

.lever-logo{
    width: 86px;
    height: auto;
  }