*:focus {
    outline: none;
}
.selectpicker{
    outline: none;
    border: 1px solid #dadada;
    background-color: #dadada;
    border-radius: 3px;
}
.form_container {
    width:100%;
    min-height:100vh;
    padding-bottom:50px;
    background-color:#f9f9f9;
    box-sizing:border-box;
    font-family: Lato;
    font-size: 16px;
    font-family: 400;
    color:#515357;
}

.heading{
    color:#515357;
    letter-spacing:1px;
    font-size: 16px;
    font-family: Lato;
    font-weight: 700;
    text-transform:uppercase;
    text-align:left;
    padding-top:50px;
    padding-bottom:30px;
    width:fit-content;
}

#formInput{
    height: 40px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.submit__button {
    width: 250px;
    color: white;
    background-color: #4b60e5;
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
  }
  
  .submit__button:hover {
    background-color: #4456cf;
  }

.upload__button{
border-radius: 3px;
  border: 1px solid rgb(220, 220, 220);
  letter-spacing: 2px;
  color: rgb(138, 138, 138);
  background-color: rgb(242, 242, 242);
  padding: 5px 15px;
}
.file__input{
    display: none;
}
.upload__button:focus, .upload__button:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(68, 68, 68);
  }
  
