.header{
    width:100%;
    box-sizing:border-box;
    position:fixed;
    top:0px;
    padding-left:17%;
    text-align:left;
    z-index:1000;
    background-color:white;
}
@media (max-width:768px){
    .header{
        padding-left:0%;
    }
}

@media (max-width:991px){
    .header{
        padding-left:0%;
    }
}

img{
    margin-left:40px;
    margin-top: 2rem;
}