.contain{
    height:fit-content;
    font-family: 'Lato', sans-serif;
    line-height:1.4;
    text-align:left;
    padding:24px;
    padding-bottom:12px;
    margin-top:120px;
    margin-left:auto;
    margin-right:auto;
    
}
/*  
@media (max-width:768px){
    .contain{
        width:90%;
        padding:12px;
    } 
} */

@media (max-width:991px){
    .contain{
        margin-left: 0%;
        width: 100%;
    } 
}