.contain{
    width:70%;
    height:fit-content;
    font-family: 'Lato', sans-serif;
    line-height:1.4;
    text-align:left;
    padding:24px;
    padding-bottom:12px;
    margin-top:120px;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
}
 
@media (max-width:768px){
    .contain{
        width:90%;
        padding:12px;
    } 
}